html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


.weather-card {
    gap: auto;
    border-width: 1px;
    border-radius: 5px;
    background:  #87CEEB;
    background: linear-gradient(0deg, rgba(135, 206, 235, 1) 0%, rgba(178, 255, 255, 1) 100%);
    padding: 1em;
}

#display {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    overflow: scr;
    justify-content: center;
}

.toolbar {
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}